* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.app-container {
  background-color: #ffc53d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
